{% extends 'home.html' %}
{% block content %}
{% load static %}
<div class="container" id="cont">
    <div class="col-md-offset-3 col-md-5">
        <h1 class="page-header text-center" style="color: aliceblue;"> <i class="fa fa-cloud-sun"></i>Weather Data</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
                {{form.name}}
                <span class="input-group-btn">
                <button class="btn btn-primary " type="submit">Check</button>       
                </span>                
            </div>
           
        </form> <br><br>
        {% for city_weather in data %}
        <div class="shadow media well">
          <div class="media-left">
              <a href="#">
                  <!-- Displaying the weather icon -->
                  <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" class="media-object" alt="{{ city_weather.city }} Weather Icon">
              </a>
          </div>
          <div class="media-body">
              <h3 class="media-heading">{{ city_weather.city }}</h3>
              <h4>{{ city_weather.temparature }}°C</h4>
              <h4>{{ city_weather.description }}</h4>
              <h4>{{ city_weather.country }}</h4>
          </div>
          <div class="media-right">
            <h3><a href=" {% url 'dcity' city_weather.city %}" style="text-decoration: none;" class="text-danger">&#x2718</a></h3>

          </div>
        </div>
      {% endfor %}
      

    </div>

</div>
<style>
    #cont{
        background: url('{% static "image/weather2.jpg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

</style>
{% endblock %}